name: validate_institutional_readiness

on:
  pull_request:
    paths:
      - '**/*.yml'
  push:
    paths:
      - '.github/workflows/validate_institutional_readiness.yml'

jobs:
  validate:
    permissions:
      pull-requests: write
      contents: read

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Comment validation status on PR
        if: github.event_name == 'pull_request' && github.event.pull_request.number != ''
        continue-on-error: true
        run: |
          echo "Commenting validation status on PR."